In [1]:
import time
import datetime as dt

from pykrx import stock
import pandas as pd

In [2]:
dt_now = str(dt.datetime.now().date())
print(f'{dt_now} 기준')
dt_now = ''.join(c for c in dt_now if c not in '-')

df = stock.get_market_fundamental_by_ticker(date=dt_now)
df.head()

2023-10-11 기준

          BPS    PER   PBR    EPS   DIV   DPS
티커
095570   8076  19.60  0.49    201  6.85   270
006840  41948   0.00  0.40      0  1.19   200
027410  16528  13.60  0.20    247  3.27   110
282330  55724  12.43  2.50  11203  2.95  4100
138930  30468   2.93  0.23   2404  8.88   625

In [3]:
df = df[['PER', 'PBR']]
df.head(5)

          PER   PBR
티커
095570  19.60  0.49
006840   0.00  0.40
027410  13.60  0.20
282330  12.43  2.50
138930   2.93  0.23

In [4]:
df.isnull().sum()

PER    0
PBR    0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 922 entries, 095570 to 003280
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PER     922 non-null    float64
 1   PBR     922 non-null    float64
dtypes: float64(2)
memory usage: 21.6+ KB

In [6]:
del_index = df[(df['PBR'] <= 0.2) | (df['PER'] <= 0)].index
df = df.drop(del_index)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 585 entries, 095570 to 003280
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PER     585 non-null    float64
 1   PBR     585 non-null    float64
dtypes: float64(2)
memory usage: 13.7+ KB

In [8]:
df.describe(percentiles=[.1,.2,.3,.4,.5,.6,.7,.8,.9,1])

               PER         PBR
count   585.000000  585.000000
mean     37.954274    1.074085
std     329.946517    1.585614
min       0.650000    0.210000
10%       3.008000    0.290000
20%       4.510000    0.350000
30%       6.236000    0.440000
40%       8.284000    0.530000
50%      10.090000    0.630000
60%      12.430000    0.770000
70%      15.852000    1.038000
80%      23.624000    1.330000
90%      51.512000    2.072000
100%   7890.000000   19.640000
max    7890.000000   19.640000

In [9]:
def change_to_rank(df, col, val):
    if val <= df[col].quantile(.1):
        return 10
    elif val <= df[col].quantile(.2):
        return 9
    elif val <= df[col].quantile(.3):
        return 8
    elif val <= df[col].quantile(.4):
        return 7
    elif val <= df[col].quantile(.5):
        return 6
    elif val <= df[col].quantile(.6):
        return 5
    elif val <= df[col].quantile(.7):
        return 4
    elif val <= df[col].quantile(.8):
        return 3
    elif val <= df[col].quantile(.9):
        return 2
    else :
        return 1

In [10]:
rank_df = pd.DataFrame(columns=['PER', 'PBR'])

for col in df.columns:
    rank_df[col] = df[col].apply(lambda x : change_to_rank(df, col, x))
rank_df

        PER  PBR
티커
095570    3    7
282330    5    1
138930   10   10
001460    6    8
001040    4    8
...     ...  ...
081660    7    3
005870    6    6
005010   10    9
000540   10   10
003280    3    1

[585 rows x 2 columns]

In [11]:
rank_df['rank_sum'] = rank_df.sum(axis=1)
rank_df = rank_df.sort_values('rank_sum', ascending=False)
rank_df

        PER  PBR  rank_sum
티커
006120   10   10        20
006200   10   10        20
001230   10   10        20
029460   10   10        20
093050   10   10        20
...     ...  ...       ...
003720    1    1         2
207940    1    1         2
373220    1    1         2
006740    1    1         2
018880    1    1         2

[585 rows x 3 columns]

In [12]:
num = 50
selected_stock_df = df.loc[rank_df.iloc[:50].index]
selected_stock_df

         PER   PBR
티커
006120  1.88  0.27
006200  2.56  0.29
001230  2.11  0.27
029460  2.02  0.28
093050  2.58  0.27
003200  1.76  0.23
129260  2.08  0.26
377740  1.34  0.28
000850  1.93  0.21
006660  1.78  0.28
017940  2.39  0.24
375500  2.91  0.26
000670  2.38  0.22
002020  1.68  0.22
138930  2.93  0.23
007860  2.31  0.29
000540  1.50  0.29
005960  3.39  0.23
001940  3.65  0.28
003300  3.71  0.23
001500  3.15  0.22
084010  1.93  0.34
004870  0.65  0.30
023590  2.11  0.34
005800  3.47  0.23
036530  4.29  0.22
316140  2.97  0.32
139130  3.61  0.26
002920  3.90  0.25
078930  1.75  0.30
009160  2.61  0.33
000880  1.69  0.34
155660  2.92  0.35
069730  2.19  0.35
006360  3.26  0.23
005010  0.88  0.31
004020  4.60  0.25
104700  3.09  0.31
003480  6.01  0.26
037710  4.28  0.31
005880  3.31  0.34
001130  4.99  0.22
001750  5.10  0.26
007980  2.95  0.37
014280  2.83  0.40
086790  3.61  0.34
001120  1.84  0.42
383800  3.34  0.35
016590  3.84  0.33
088350  3.33  0.32

In [13]:
selected_ticker_list = selected_stock_df.index
selected_stocks = {}
for ticker in selected_ticker_list:
    stock_name = stock.get_market_ticker_name(ticker)
    selected_stocks[ticker] = stock_name
    print(stock_name)

SK디스커버리
한국전자홀딩스
동국홀딩스
케이씨
LF
일신방직
인터지스
바이오노트
화천기공
삼성공조
E1
DL이앤씨
영풍
코오롱
BNK금융지주
서연
흥국화재
동부건설
KISCO홀딩스
한일홀딩스
현대차증권
대한제강
티웨이홀딩스
다우기술
신영와코루
SNT홀딩스
우리금융지주
DGB금융지주
유성기업
GS
SIMPAC
한화
DSR
DSR제강
GS건설
휴스틸
현대제철
한국철강
한진중공업홀딩스
광주신세계
대한해운
대한제분
한양증권
태평양물산
금강공업
하나금융지주
LX인터내셔널
LX홀딩스
신대양제지
한화생명

In [14]:
selected_stock_df.to_csv('selected_df.csv', index=True)

In [15]:
test_df = pd.read_csv('selected_df.csv', index_col=0)

In [16]:
test_df.head()

        PER   PBR
티커
6120   1.88  0.27
6200   2.56  0.29
1230   2.11  0.27
29460  2.02  0.28
93050  2.58  0.27

In [17]:
test_list = test_df.index
test_stocks = {}
print(test_list)
for ticker in test_list:
    print(str(ticker).zfill(6))
    stock_name = stock.get_market_ticker_name(str(ticker).zfill(6))
    print(stock_name)
    test_stocks[ticker] = stock_name
    # print(stock_name)

Int64Index([  6120,   6200,   1230,  29460,  93050,   3200, 129260, 377740,
               850,   6660,  17940, 375500,    670,   2020, 138930,   7860,
               540,   5960,   1940,   3300,   1500,  84010,   4870,  23590,
              5800,  36530, 316140, 139130,   2920,  78930,   9160,    880,
            155660,  69730,   6360,   5010,   4020, 104700,   3480,  37710,
              5880,   1130,   1750,   7980,  14280,  86790,   1120, 383800,
             16590,  88350],
           dtype='int64', name='티커')
006120
SK디스커버리
006200
한국전자홀딩스
001230
동국홀딩스
029460
케이씨
093050
LF
003200
일신방직
129260
인터지스
377740
바이오노트
000850
화천기공
006660
삼성공조
017940
E1
375500
DL이앤씨
000670
영풍
002020
코오롱
138930
BNK금융지주
007860
서연
000540
흥국화재
005960
동부건설
001940
KISCO홀딩스
003300
한일홀딩스
001500
현대차증권
084010
대한제강
004870
티웨이홀딩스
023590
다우기술
005800
신영와코루
036530
SNT홀딩스
316140
우리금융지주
139130
DGB금융지주
002920
유성기업
078930
GS
009160
SIMPAC
000880
한화
155660
DSR
069730
DSR제강
006360
GS건설
005010
휴스틸
004020
현대제철
104700
한국철강
003480
한진중공업홀딩스
037710
광주신세계
005880
대한해운
001130
대한제분
001750
한양증권
007980
태평양물산
014280
금강공업
086790
하나금융지주
001120
LX인터내셔널
383800
LX홀딩스
016590
신대양제지
088350
한화생명